{% extends 'base.html' %}

{% block content %}
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">Add User</h1>
                </div>
                <!-- End Col -->

                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <!-- Content -->
        <form method="post">
            {% csrf_token %}
{#            <label for="id_email">Email:</label>#}
{#            <input type="email" name="email" id="id_email">#}
{##}
{#            <label for="id_password">Password</label>#}
{#            <input type="text" id="id_password">#}
{##}
{#            <fieldset>#}
{#                <legend>Choose view permissions</legend>#}
{#                <div>#}
{#                    <input type="checkbox" id="accounts" name="interest" value="can_view_account"/>#}
{#                    <label for="accounts">Accounts</label>#}
{#                </div>#}
{#                <div>#}
{#                    <input type="checkbox" id="hr" name="interest" value="can_view_hr"/>#}
{#                    <label for="hr">HR</label>#}
{#                </div>#}
{#                <div>#}
{#                    <input type="checkbox" id="sales" name="interest" value="can_view_sales"/>#}
{#                    <label for="sales">sales</label>#}
{#                </div>#}
{#                <div>#}
{#                    <input type="checkbox" id="id_purchase" name="interest" value="can_view_purchase"/>#}
{#                    <label for="id_purchase">purchase</label>#}
{#                </div>#}
{#                <div>#}
{#                    <input type="checkbox" id="id_reports" name="interest" value="can_view_reports"/>#}
{#                    <label for="id_reports">Reports</label>#}
{#                </div>#}
{#            </fieldset>#}
            {{ form.as_p }}

            <button type="submit">Save </button>
        </form>
    </div>
{% endblock %}